<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hypervisor.eintegrator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".utils.AppController"
        android:allowBackup="true"
        android:configChanges="locale|orientation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Bhamashah"
            android:label="@string/title_activity_bhamashah"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AccountActivity"
            android:label="@string/title_activity_account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Entitlements"
            android:label="@string/title_activity_entitlements"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.BillPayment"
            android:label="@string/title_activity_bill_payment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ElectricityBill"
            android:label="@string/title_activity_electricity_bill"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LanguageActivity"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".services.MyService"
            android:label="My Service" />
        <service
            android:name=".services.DeviceService"
            android:label="Device Service" />

        <activity
            android:name=".activity.TestActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>